.card__button-like_active {
    background-color: transparent;
    background-image: url('./../../../../images/icons/heart-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 21px;
    height: 19px;
    border: 0;
}